<html>
    <body>
        <ul>
            <li>OPML
                <a href="index.opml">index.opml</a>
            </li>

            <li>As a single feed
                <a href="all.xml">rss</a> |
                <a href="all.atom">atom</a>
            </li>
        </ul>

        <ul>
            {% for feed in feeds %}
            <li>
                <a href="{{ feed.link }}">{{ feed.title }}</a>:
                <a href="{{ feed.slug }}.xml">rss</a> |
                <a href="{{ feed.slug }}.atom">atom</a>
            </li>
            {% endfor %}
        </ul>
        </body>
</html>
